{% extends "classroom/instructor_base.html" %}
{% load static %}

{% block choice %}
    Quiz
{% endblock choice %}

{% block content %}

    <div class="w3-section w3-container">

      {% for quiz in quizes %} <!-- beginning of quiz for loop -->
      <button onclick="accordionFunction('Demo1')" class="w3-button w3-block w3-grey w3-left-align">{{ quiz.name }}</button>
      <div id="Demo1" class="w3-hide w3-animate-zoom">
      {% for question in questions %}

        {% if quiz.name == question.quiz.name %}
        <p><a href="#" class="w3-button w3-block w3-left-align">{{ question |truncatechars:30 }}</a></p>
        {% endif %}
        
        {% empty %} <!-- empty variable for question for loop -->
        <p><a href="#" class="w3-button w3-block w3-left-align">No question(s)</a></p>
      {% endfor %} <!-- end of question for looop -->


      <p><button class="w3-btn w3-teal" data-href="{{ quiz.get_absolute_url }}">Add a new question</button></p>

    </div>

      {% empty %} <!-- empty variable for quiz for loop -->
      <button onclick="accordionFunction('Demo1')" class="w3-button w3-block w3-grey w3-left-align">No Quiz</button>
      <div id="Demo1" class="w3-hide w3-animate-zoom">
        <a href="#" class="w3-button w3-block w3-left-align">No Question(s)</a>
      </div>
      {% endfor %} <!-- end of quiz for loop -->


        
       <!--  <div id="quiz-modal" class="w3-modal">
            <div class="w3-modal-content">
              <header class="w3-container w3-teal"> 
                <span id="js-close-quiz-modal" 
                class="w3-button w3-display-topright">&times;</span>
                <h2 id="quiz-modal-title">Quiz</h2>
              </header>
              <div class="w3-container">
                  <h2>Questions</h2>
          <table class="w3-table w3-striped">

            <tr>
                <th>#</th>
                <th>Question</th>
            </tr>

            {% include "classroom/instructor/question_list.html" %}

          </table>
          <button id="js-question-btn">Add new Question</button> <br>
            </div>
              <footer class="w3-container w3-teal">
                <p>Modal Footer</p>
              </footer>
            </div>
          </div>  -->

    </div>
           

{% endblock content %}

{% block instructor_javascript %}

<script src="{% static 'classroom/js/instructor/quiz.js' %}"></script>


{% endblock instructor_javascript %}
