{% extends "classroom/base.html" %}

{% load static %}

{% block choice %}
    Instructors
{% endblock choice %}

{% block content %}

    <div class="w3-section">

        
        <table class="w3-table w3-bordered">
            <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            </tr>

            <tbody>
            {% for instructor in instructors %}
            <tr class="w3-hover-teal js-update-soul" data-href="{{user.get_absolute_url}}">
            <td>{{instructor.first_name}}</td>
            <td>{{instructor.last_name}}</td>
            <td>{{instructor.email}}</td>
            </tr>

            {% empty %}
            <tbody>
                <tr>
                    <td colspan="3" class="w3-grey w3-center">No data to display</td>
                </tr>
            </tbody>
            {% endfor %}
            </tbody>

        </table>

    </div>
           

{% endblock content %}

{% block lms_admin_javascript %}

<script src="{% static 'classroom/js/lms_admin/instructors.js' %}"></script>


{% endblock lms_admin_javascript %}
