{% extends "classroom/instructor_base.html" %}
{% load static %}

{% block choice %}
    Discussions
{% endblock choice %}

{% block add_button %}

{% endblock add_button %}

{% block content %}

    <div class="w3-section w3-container">
        <p>Click on the discussion to view the comments</p>

      {% for discussion in discussions %} <!-- beginning of discussion for-loop -->
      <button onclick="accordionFunction('discussion-accordion-{{ forloop.counter }}')" class="w3-button w3-block w3-light-grey w3-left-align">{{ discussion.title }}  || <span>Course: {{discussion.course.code}}</span> <span class="w3-right">Created by:{{discussion.created_by}}</span></button>
      <div id="discussion-accordion-{{ forloop.counter }}" class="w3-hide w3-animate-zoom">
      {% for comment in comments %}

        {% if discussion.title == comment.discussion.title %}
        <p><a href="#" class="w3-button w3-block w3-left-align">{{ comment |truncatechars:30 }}  <span class="w3-right">By: {{ comment.author }}</span></a></p>
        {% endif %}
        
        {% empty %} <!-- empty variable for question for-loop -->
        <p><a href="#" class="w3-button w3-block w3-left-align">No comment(s)</a></p>
      {% endfor %} <!-- end of question for-loop -->


      <p><button class="w3-btn w3-teal js-add-comment-discussion" data-href="{{ discussion.get_absolute_url }}">Add a new comment</button></p>

    </div>

      {% empty %} <!-- empty variable for discussion for-loop -->
      <button onclick="accordionFunction('Demo1')" class="w3-button w3-block w3-grey w3-left-align">No Discussion</button>
      <div id="Demo1" class="w3-hide w3-animate-zoom">
        <a href="#" class="w3-button w3-block w3-left-align">No comment(s)</a>
      </div>
      {% endfor %} <!-- end of discussion for-loop -->


        
    

    </div>
           

{% endblock content %}

{% block instructor_javascript %}

<script src="{% static 'classroom/js/student/discussions.js' %}"></script>


{% endblock instructor_javascript %}
