{% extends "classroom/student_base.html" %}

{% load student_tags %}

{% load static %}

{% block choice %}
    Grades
    <p>List of all your grades</p>
{% endblock choice %}

{% block add_button %}

{% endblock add_button %}

{% block content %}

    <div class="w3-section w3-container">

        
        <table class="w3-table w3-bordered">
            <thead>
            <tr>
            <th>Name of assignment/quiz</th>
            <th>Course code</th>
            <th>Grade</th>
            </tr>
            </thead>

            <tbody>
            {% for grade in grades %}
            <tr class="w3-hover-teal">
            <td>{{grade.quiz_or_assignment.name}}</td>
            <td>{{grade.course.code}}</td>
            <td>{% get_grade_and_percentage grade.score %}</td>
            </tr>

            {% empty %}
            <tbody>
                <tr>
                    <td colspan="3" class="w3-grey w3-center">No data to display</td>
                </tr>
            </tbody>
            {% endfor %}
            </tbody>

        </table>

    </div>

{% endblock content %}

{% block student_javascript %}


{% endblock student_javascript %}
